/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "@fontsource-variable/montserrat";

body {
  font-family: "Montserrat Variable", sans-serif;
}

:root {
  --magno-sidebar-item-active-bg: #1c9bac; /* Example color */
  --magno-sidebar-item-active-text: #006064; /* Example text color */
}
